mysql:
  image: angrytweet/mysql
rtgov:
  image: angrytweet/rtgov
  links:
    - mysql:mysql
  volumes:
    - /etc/localtime:/etc/localtime
    - /data/docker-data/fsw:/data
fsw:
  image: angrytweet/fsw
  links:
     - mysql:mysql
     - rtgov:rtgov
  volumes:
    - /etc/localtime:/etc/localtime
    - /data/docker-data/fsw:/data
  environment:
    - ANGRYTWEET_CONSUMERKEY=
    - ANGRYTWEET_CONSUMERSECRET=
    - ANGRYTWEET_ACCESSTOKEN=
    - ANGRYTWEET_ACCESSTOKENSECRET=
    - ANGRYTWEET_SINCEID= 
    - ANGRYTWEET_CSVINPUTDIR=
    - ANGRYTWEET_EMAIL_USERNAME=
    - ANGRYTWEET_EMAIL_PASSWORD=
    - ANGRYTWEET_EMAIL_HOST=
